.app {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.header {
    width: 100%;
    height: 10rem;
    padding-top: 2rem;
}

.header h5 {
    float: left;
    margin-left: 10px;
}

.miniCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(360deg, rgba(132, 114, 213, 0.3), rgba(61, 130, 223, 0.2)), url('../assets/bg.jpg');
    padding: 10px;
    float: left;
}

.miniCircle img {
    width: 45px;
}

.center {
    width: 100%;
    height: auto;
    display: block;
    padding: 2rem 10rem;
}

.circleGrid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.circle {
    width: 300px;
    height: 300px;
    background: #000;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5rem;
    text-align: center;
    color: white;
    position: relative;
    margin-bottom: 1rem;
}

.blue {
    background: linear-gradient(90deg, rgba(24, 195, 243, 1), rgba(0, 117, 225, 1));
}

.green {
    background: linear-gradient(90deg, rgba(57, 204, 149), rgba(58, 205, 198));
}

.red {
    background: linear-gradient(90deg, rgb(0, 200, 81), rgb(0, 126, 51))
}


.error {
    background: crimson;
}

.circle:hover {
    transform: scale(1.1);
}

.circle svg {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.circle h3 {
    font-size: 1.5rem;
}

.center h1 {
    font-size: 2rem;
    font-weight: bold;
    color: teal;
}

.center h4 {
    font-size: 1.5rem;
    display: block;
    font-weight: bold;
    margin-bottom: 2rem;
}


.form {
    width: 100%;
    height: auto;
    display: block;
    padding: 2rem;
}

.formContainer {
    padding: .5rem;
}

.formContainer h3 {
    font-size: 1.5rem;
    color: teal;
    font-weight: bold;
    margin-bottom: 1rem;
}






/* phone-only */
@media (max-width: 599px) {

    .center {
        padding: 2rem
    }

    .circle {
        width: 200px;
        height: 200px;
        padding: 2rem;
    }

    .circleGrid {
        display: grid;
        grid-template-columns: 100%;
    }


}

/* .tablet-portrait-up  */
@media (min-width: 600px) {
    .center {
        padding: 2rem
    }

    .circle {
        width: 200px;
        height: 200px;
        padding: 2rem;
    }

    .circleGrid {
        display: grid;
        grid-template-columns: 100%;
    }
}

/* tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    .center {
        padding: 2rem 5rem;
    }

    .circle {
        width: 200px;
        height: 200px;
        padding: 2rem;
    }

    .circleGrid {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 3%;
    }
}

/* tablet-landscape-up */
@media (min-width: 900px) {
    .center {
        padding: 2rem 10rem;
    }

    .circle {
        width: 300px;
        height: 300px;
        padding: 5rem;
    }

    .circleGrid {
        display: grid;
        grid-template-columns: 100%;
    }
}

/* tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    .center {
        padding: 2rem 10rem;
    }

    .circle {
        width: 300px;
        height: 300px;
        padding: 5rem;
    }

    .circleGrid {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

/* .desktop-up */
@media (min-width: 1300px) {
    .center {
        padding: 2rem 10rem;
    }

    .circle {
        width: 300px;
        height: 300px;
        padding: 5rem;
    }

    .circleGrid {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

/* desktop-only */
@media (min-width: 1300px) and (max-width: 1799px) {
    .center {
        padding: 2rem 10rem;
    }

    .circle {
        width: 300px;
        height: 300px;
        padding: 5rem;
    }

    .circleGrid {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

/* big-desktop-up */
@media (min-width: 1800px) {
    .center {
        padding: 2rem 10rem;
    }

    .circle {
        width: 300px;
        height: 300px;
        padding: 5rem;
    }

    .circleGrid {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}